<mt:include name="include/chromeless_header.tmpl">
<script type="text/javascript">
jQuery( function () {
  parent.jQuery.fn.mtDialog.close( null, function () {
    parent.fix_dialog();
    parent.reload_evernote_widget();
  });
});
</script>
<mt:include name="include/chromeless_header.tmpl">