<div class="field field-left-label pkg">
    <div class="field-inner">
        <div class="field-header">
            <label for="consumer_key"><__TRANS phrase="Consumer Key"></label>
        </div>
        <div class="field-content">
            <div class="textarea-wrapper"><input type="text" size="15" id="consumer_key" name="consumer_key" value="<mt:var name="consumer_key">" /></div>
        </div>
    </div>
</div>
<div class="field field-left-label pkg">
    <div class="field-inner">
        <div class="field-header">
            <label for="consumer_secret"><__TRANS phrase="Consumer Key"></label>
        </div>
        <div class="field-content">
            <div class="textarea-wrapper"><input type="text" size="15" id="consumer_secret" name="consumer_secret" value="<mt:var name="consumer_secret">" /></div>
        </div>
    </div>
</div>
