<__trans_section component="ClipToEvernote">

<mtapp:setting
   id="evernote-consumer-key"
   label="<__trans phrase="Consumer Key">">
   <input type="text" name="evernote-consumer-key" id="evernote-consumer-key" class="text" value="<mt:var name="evernote-consumer-key">" />
</mtapp:setting>

<mtapp:setting
   id="evernote-consumer-secret"
   label="<__trans phrase="Consumer Secret">">
   <input type="text" name="evernote-consumer-secret" id="evernote-consumer-secret" class="text" value="<mt:var name="evernote-consumer-secret">" />
</mtapp:setting>

</__trans_section>
